# Example using a crossbar
# % ./dsent -cfg configs/example.example -verbose

# Name of model to be built and evaluated
ModelName = MultiplexerCrossbar

# Query string to choose what to evaluate (use '\' to enable multiline config)
QueryString = \
InstHier>>MultiplexerCrossbar@10 \
NddPower>>MultiplexerCrossbar:Leakage@0 \
Energy>>MultiplexerCrossbar:Multicast0@0 \
Energy>>MultiplexerCrossbar:Multicast1@0 \
Energy>>MultiplexerCrossbar:DinMulticast0@0 \
Energy>>MultiplexerCrossbar:DinMulticast1@0 \
Energy>>MultiplexerCrossbar:DinMulticast2@0 \
Energy>>MultiplexerCrossbar:DinMulticast3@0 \
Energy>>MultiplexerCrossbar:DinMulticast4@0 \
Energy>>MultiplexerCrossbar:DinMulticast5@0 \
Energy>>MultiplexerCrossbar:DinMulticast6@0 \
Energy>>MultiplexerCrossbar:DinMulticast7@0 \
Area>>MultiplexerCrossbar:Active@1
# Technology file (see models in tech/tech_models)
ElectricalTechModelFilename = tech/tech_models/Bulk45LVT.model


###############################################################################
# Timing optimization
###############################################################################
# True if want to perform timing optimization; otherwise, false.
IsPerformTimingOptimization = true
# Nets that the timing optimizer starts from

TimingOptimization->StartNetNames = [*] # '*' means from all inputs
# Operating frequency (Hz)
Frequency = 2e9
###############################################################################
# Model specifications
###############################################################################
# Number of inputs
NumberInputs = 8
# Number of outputs
NumberOutputs = 2
# Number of bits per input/output
NumberBits = 1
